*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
