.header {
  background-color: black;
  color: white;
  width: 100%;
  height: 35px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: end;
  position: relative;
  z-index: 1;
}

.header-container {
  margin: 0 0;
  width: 15rem;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

.header-container-head {
  margin: 0 0 0 0;
}

.header-container-items {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-around;
  padding: 0 1rem;
  width: 100%;
}
