.display-none {
  display: none;
}

@media screen and (max-width: 62rem) {
  .hidden-top-navigation {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10rem;
    z-index: 1;
    position: fixed;
    background-color: white;
  }

  .hidden-top-navigation-logo {
    margin: 0 0 0 1rem;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  .hidden-top-navigation-logo-image {
    width: 30dvw;
    height: 5rem;
  }

  .hidden-top-navigation-menus-menu-button {
    cursor: pointer;
    margin-right: 1rem;
    font-size: 2rem;
  }

  .hidden-top-navigation-menus-menu-button:hover {
    color: rgb(216, 0, 0);
  }

  .hidden-left-side-navigation {
    display: block;
    background-color: rgb(216, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 18rem;
    height: 100%;
    transition: 1s;
  }

  .hidden-left-side-navigation a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0;
  }

  .hidden-left-side-navigation-0px {
    display: block;
    background-color: rgb(216, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 0;
    height: 100%;
    transition: 1s;
    overflow-x: hidden;
  }

  .hidden-left-side-navigation-0px a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.5rem 0;
  }

  .hidden-left-side-navigation-menu-container {
    list-style-type: none;
    padding: 0;
  }
  .hidden-left-side-navigation-menu-container * {
    color: white;
    margin: 1.5rem 0.5rem;
  }

  .hidden-left-side-navigation-close-button {
    float: right;
    cursor: pointer;
  }
}

@media screen and (max-width: 23.438rem) {
  .hidden-top-navigation {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10rem;
    z-index: 1;
    position: fixed;
  }

  .hidden-top-navigation-logo {
    margin: 0 0 0 0;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-left: 0.5rem;
  }

  .hidden-top-navigation-logo-image {
    width: 35dvw;
    height: 5rem;
  }

  .hidden-top-navigation-menus-menu-button {
    cursor: pointer;
    margin-right: 1rem;
    font-size: 2rem;
  }

  .hidden-top-navigation-menus-menu-button:hover {
    color: rgb(216, 0, 0);
  }

  .hidden-left-side-navigation {
    display: block;
    background-color: rgb(216, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 18rem;
    height: 100%;
    transition: 1s;
  }

  .hidden-left-side-navigation a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0;
  }

  .hidden-left-side-navigation-0px {
    display: block;
    background-color: rgb(216, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 0;
    height: 100%;
    transition: 1s;
    overflow-x: hidden;
  }

  .hidden-left-side-navigation-0px a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.5rem 0;
  }

  .hidden-left-side-navigation-menu-container {
    list-style-type: none;
    padding: 0;
  }
  .hidden-left-side-navigation-menu-container * {
    color: white;
    margin: 1.5rem 0.5rem;
  }

  .hidden-left-side-navigation-close-button {
    float: right;
    cursor: pointer;
  }
}
