.hero-section-logo {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
}

.psi-hadir-container {
  width: 100%;
  background-color: #f3f4f5;
  height: fit-content;
  margin: 0;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

.psi-hadir-container-psi-hadir {
  color: rgb(216, 0, 0);
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0;
}

.psi-hadir-container-liputan-kegiatan-psi {
  color: rgb(53, 53, 53);
  margin: 0.5rem 0 0 0;
  height: max-content;
}

.psi-kerja-container {
  width: 100%;
  height: fit-content;
  margin-bottom: 2rem;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

.psi-kerja-container-psi-kerja {
  color: rgb(216, 0, 0);
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0;
}

.psi-kerja-container-pernyataan-sikap-psi {
  color: rgb(53, 53, 53);
  margin: 0.5rem 0 0 0;
  height: max-content;
}

.psi-kerja-container-lists {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: max-content;
}

.psi-kerja-container-lists-list {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: row;
  align-items: start;
  background-color: #f3f4f5;
  height: max-content;
  margin-top: 2rem;
}

.psi-kerja-container-lists-list-stack-title {
  font-size: 3dvh;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.psi-kerja-container-lists-list-stack-line-divider {
  margin-top: 2%;
  margin-bottom: 2%;
  height: 0.2rem;
  font-weight: 4rem;
  background-color: red;
}

.psi-kerja-container-lists-list-stack-date {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
}

.blog-container {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: #f3f4f5;
}

.blog-container-blog {
  color: rgb(216, 0, 0);
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0;
}

.blog-container-blog-dpc {
  color: rgb(53, 53, 53);
  margin: 0.5rem 0 0 0;
  height: max-content;
}

.blog-container-cards {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: stretch;
  height: fit-content;
  margin-top: 2rem;

  background-color: #f3f4f5;
}

.blog-container-cards-card {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  background-color: #f3f4f5;
  height: 25rem;
  color: white;
}

.blog-container-cards-card-link {
  display: block;
}

.blog-container-cards-card-link-image {
  width: 100%;
  display: block;
}

.blog-container-cards-card-link-title {
  text-decoration: none;
  color: rgb(105, 105, 105);
}

.blog-container-cards-card-link-title:hover {
  color: rgb(0, 0, 0);
}

.blog-container-cards-card-date {
  color: rgb(105, 105, 105);
  font-size: 0.9rem;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
}

/* 1280px */
@media screen and (min-width: 80rem) {
  .psi-hadir-container-cards {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
    width: 80rem;
    height: fit-content;
    margin-top: 2rem;
    gap: 1.5rem;
  }

  .psi-hadir-container-card {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    background-color: black;
    width: calc(25% - 18px);
    height: 20rem;
    color: white;
  }

  .psi-hadir-container-card-link {
    display: block;
    height: fit-content;
  }

  .psi-hadir-container-card-link-image {
    width: 100%;
    filter: grayscale(100%);
    height: 10rem;
    transition: filter 0.3s ease;
  }

  .psi-hadir-container-card-link-image:hover {
    filter: grayscale(0%);
  }

  .psi-hadir-container-card-title {
    font-size: 1rem;
    word-spacing: 0;
    text-align: justify;
    margin: 1rem 1rem 0.5rem 1rem;
    text-decoration: none;
    color: rgb(110, 110, 110);
  }

  .psi-hadir-container-card-title:hover {
    color: rgb(255, 255, 255);
  }

  .psi-hadir-container-card-title-title {
    font-size: 1rem;
    word-spacing: 0;
    text-align: justify;
  }

  .psi-hadir-container-card-date {
    font-size: 0.7rem;
    word-spacing: 0;
    text-align: justify;
    margin: 0 0 0 1rem;
  }

  .psi-kerja-container-lists {
    width: 80rem;
  }

  .psi-kerja-container-lists-list {
    width: 80rem;
  }

  .psi-kerja-container-lists-list-link {
    display: block;
    width: 35rem;
    height: 20rem;
  }

  .psi-kerja-container-lists-list-link-image {
    display: block;
    width: 35rem;
    height: 20rem;
  }

  .psi-kerja-container-lists-list-stack {
    width: max-content;
    height: 15rem;
    background-color: white;
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    top: 1.5rem;
    left: -1.5rem;
  }

  .psi-kerja-container-lists-list-stack-line-divider {
    width: 15rem;
  }

  .blog-container-cards {
    width: 100%;
    background-color: #f3f4f5;
    gap: 17.4px;
  }

  .blog-container-cards-card {
    width: calc(33.2% - 10px);
    background-color: white;
  }

  .blog-container-cards-card-link {
    width: 100%;
    height: 11rem;
  }

  .blog-container-cards-card-link-image {
    height: 11rem;
  }

  .blog-container-cards-card-link-title-title {
    font-size: 1.2rem;
    margin: 1rem 1rem;
  }

  .blog-container-cards-card-date {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 80rem) {
  .psi-hadir-container-psi-hadir {
    color: rgb(216, 0, 0);
    font-weight: bold;
    margin: 0;
  }

  .psi-hadir-container-liputan-kegiatan-psi {
    color: rgb(53, 53, 53);
    margin: 0.5rem 0 0 0;
    height: max-content;
  }

  .psi-hadir-container-cards {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
    height: fit-content;
    margin-top: 2rem;
    gap: 1rem;
  }

  .psi-hadir-container-card {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: calc(25% - 12px);
    height: 20rem;
    color: white;
  }

  .psi-hadir-container-card-link {
    display: block;
    height: fit-content;
  }

  .psi-hadir-container-card-link-image {
    width: 100%;
    filter: grayscale(100%);
    height: 10rem;
    transition: filter 0.3s ease;
  }

  .psi-hadir-container-card-link-image:hover {
    filter: grayscale(0%);
  }

  .psi-hadir-container-card-title {
    font-size: 1rem;
    word-spacing: 0;
    text-align: justify;
    margin: 1rem 1rem 0.5rem 1rem;
    text-decoration: none;
    color: rgb(110, 110, 110);
  }

  .psi-hadir-container-card-title:hover {
    color: rgb(255, 255, 255);
  }

  .psi-hadir-container-card-title-title {
    font-size: 1rem;
    word-spacing: 0;
    text-align: justify;
  }

  .psi-hadir-container-card-date {
    font-size: 0.7rem;
    word-spacing: 0;
    text-align: justify;
    margin: 0 0 0 1rem;
  }

  .psi-kerja-container-lists {
    width: 100%;
  }

  .psi-kerja-container-lists-list {
    width: 100%;
  }

  .psi-kerja-container-lists-list-link {
    display: block;
    width: 25rem;
    height: 18rem;
  }

  .psi-kerja-container-lists-list-link-image {
    display: block;
    width: 25rem;
    height: 18rem;
  }

  .psi-kerja-container-lists-list-stack {
    width: fit-content;
    height: 15rem;
    background-color: white;
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    top: 1.5rem;
    left: -1.5rem;
  }
  .psi-kerja-container-lists-list-stack-line-divider {
    width: 15rem;
  }
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .margin-top {
    margin-top: 1rem;
  }

  .hero-section {
    width: 80rem;
    height: 25rem;
    background: url("/assets/hero-section-background.jpg");
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .hero-section-logo {
    margin-left: 7.5rem;
  }

  .hero-section-logo-image {
    width: 40dvw;
    height: 8rem;
  }

  .hero-section-title {
    margin-left: 7.5rem;
    font-size: 2rem;
  }

  .daftar-anggota-relawan-flex-row {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80rem;
    margin-top: 2rem;
  }

  .daftar-anggota-relawan-flex-row * {
    background-color: rgb(216, 0, 0);
    width: 49%;
    color: white;
    text-decoration: none;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    box-shadow: 1rem;
    margin-bottom: 50px;
    box-shadow: 0px 7px 0px 0px #800000;
    transition: 1s;
  }

  .daftar-anggota-relawan-flex-row *:hover {
    background-color: rgb(73, 73, 73);
    height: 4.5rem;
    transition: 1s;
    box-shadow: 0px 7px 0px 0px rgb(39, 39, 39);
  }
}

@media screen and (max-width: 64rem) {
  .margin-top {
    margin-top: 8rem;
  }

  .hero-section {
    width: 100%;
    height: 25rem;
    background: url("/assets/hero-section-background.jpg");
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-section-logo {
    margin-left: 1.5rem;
  }

  .hero-section-logo-image {
    width: 40dvw;
    height: 6rem;
  }

  .hero-section-title {
    margin-left: 1.5rem;
    font-size: 1.7rem;
  }

  .daftar-anggota-relawan-flex-row {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2rem;
  }

  .daftar-anggota-relawan-flex-row * {
    background-color: rgb(216, 0, 0);
    width: 100%;
    margin: 0 0.5rem;
    color: white;
    text-decoration: none;
    height: 4rem;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    box-shadow: 1rem;
    margin-bottom: 50px;
    box-shadow: 0px 7px 0px 0px #800000;
    transition: 1s;
  }

  .daftar-anggota-relawan-flex-row *:hover {
    background-color: rgb(73, 73, 73);
    height: 4.5rem;
    transition: 1s;
    box-shadow: 0px 7px 0px 0px rgb(39, 39, 39);
  }

  .psi-hadir-container-psi-hadir {
    color: rgb(216, 0, 0);
    font-weight: bold;
    margin: 0;
  }

  .psi-hadir-container-liputan-kegiatan-psi {
    color: rgb(53, 53, 53);
    margin: 0.5rem 0 0 0;
    height: max-content;
  }

  .psi-hadir-container-cards {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
    height: fit-content;
    margin-top: 2rem;
    gap: 1rem;
  }

  .psi-hadir-container-card {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    background-color: black;
    width: calc(50% - 20px);
    height: 20rem;
    color: white;
  }

  .psi-hadir-container-card-link {
    display: block;
    height: fit-content;
    display: block;
  }

  .psi-hadir-container-card-link-image {
    width: 100%;
    filter: grayscale(100%);
    height: 10rem;
    transition: filter 0.3s ease;
  }

  .psi-hadir-container-card-link-image:hover {
    filter: grayscale(0%);
  }

  .psi-hadir-container-card-title {
    font-size: 1rem;
    word-spacing: 0;
    text-align: justify;
    margin: 1rem 1rem 0.5rem 1rem;
    text-decoration: none;
    color: rgb(110, 110, 110);
  }

  .psi-hadir-container-card-title:hover {
    color: rgb(255, 255, 255);
  }

  .psi-hadir-container-card-title-title {
    font-size: 1rem;
    word-spacing: 0;
    text-align: justify;
  }

  .psi-hadir-container-card-date {
    font-size: 0.7rem;
    word-spacing: 0;
    text-align: justify;
    margin: 0 0 0 1rem;
  }
}

/* 768px */
@media screen and (max-width: 48rem) {
  .daftar-anggota-relawan-flex-column {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    padding: 0;
  }

  .daftar-anggota-relawan-flex-column * {
    background-color: rgb(216, 0, 0);
    width: 100%;
    margin: 0;
    color: white;
    text-decoration: none;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    box-shadow: 1rem;
    margin-bottom: 50px;
    box-shadow: 0px 7px 0px 0px #800000;
    transition: 1s;
  }

  .daftar-anggota-relawan-flex-column *:hover {
    background-color: rgb(73, 73, 73);
    height: 4.5rem;
    transition: 1s;
    box-shadow: 0px 7px 0px 0px rgb(39, 39, 39);
  }
}

/* 700px */
@media screen and (max-width: 43.75rem) {
  .psi-kerja-container-lists {
    width: 100%;
  }

  .psi-kerja-container-lists-list {
    width: 100%;
    flex-direction: column;
  }

  .psi-kerja-container-lists-list-link {
    display: block;
    width: 100%;
    height: 20rem;
  }

  .psi-kerja-container-lists-list-link-image {
    display: block;
    width: 100%;
    height: 20rem;
  }

  .psi-kerja-container-lists-list-stack {
    width: 100%;
    height: 15rem;
    margin: 0;
    top: 0;
    left: 0;
  }

  .psi-kerja-container-lists-list-stack-line-divider {
    width: 15rem;
    background-color: red;
  }
}

/* 600px */
@media screen and (max-width: 37.5rem) {
  .margin-top {
    margin-top: 8rem;
  }

  .hero-section {
    width: 100%;
    height: 25rem;
    background: url("/assets/hero-section-background.jpg");
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .hero-section-logo {
    margin-left: 1.5rem;
    width: 25rem;
  }

  .hero-section-logo-image {
    width: 40dvw;
    height: 6rem;
  }

  .hero-section-title {
    margin-left: 1.5rem;
    font-size: 1.5rem;
  }

  .psi-hadir-container-psi-hadir {
    color: rgb(216, 0, 0);
    font-weight: bold;
    margin: 0;
  }

  .psi-hadir-container-liputan-kegiatan-psi {
    color: rgb(53, 53, 53);
    margin: 0.5rem 0 0 0;
    height: max-content;
  }

  .psi-hadir-container-cards {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
    height: fit-content;
    margin-top: 2rem;
    gap: 1rem;
  }

  .psi-hadir-container-card {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    background-color: rgb(216, 0, 0);
    width: calc(100%);
    height: 20rem;
    color: white;
  }

  .psi-hadir-container-card-link {
    display: block;
    height: fit-content;
    display: block;
  }

  .psi-hadir-container-card-link-image {
    width: 100%;
    filter: grayscale(100%);
    height: 10rem;
    transition: filter 0.3s ease;
  }

  .psi-hadir-container-card-link-image:hover {
    filter: grayscale(0%);
  }

  .psi-hadir-container-card-title {
    font-size: 1rem;
    word-spacing: 0;
    text-align: justify;
    margin: 1rem 1rem 0.5rem 1rem;
    text-decoration: none;
    color: rgb(110, 110, 110);
  }

  .psi-hadir-container-card-title:hover {
    color: rgb(255, 255, 255);
  }

  .psi-hadir-container-card-title-title {
    font-size: 1rem;
    word-spacing: 0;
    text-align: justify;
  }

  .psi-hadir-container-card-date {
    font-size: 0.7rem;
    word-spacing: 0;
    text-align: justify;
    margin: 0 0 0 1rem;
  }
}
